header{
    display: flex;
    justify-content: space-between;
    background-color: #131A1E;
    border-bottom: 5px solid #000;
    padding: 10px 20px;
}


nav{
    text-align:right;
}

a{ 
    display: inline-flex;
    align-items: center;
    color:#FFF;
    font-size:15px;  
    font-family: "Fira Code",Arial,Helvetica, sans-serif; 
    font-weight: 500;   /* Peso que tem a fonte */ 
    text-decoration: None;  /* A decoração que tem os nomes, aqui esta none ( nenhum )*/ 
    margin-right: 30px;  
}

a:before{
    content: "";
    background-color: #1E5CFF;
    width: 9px;
    height: 9px;
    margin-right: 9px;
}

#button{
    display:inline-block;
    background-color: #1E5CFF;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px black;
    margin-right: 0px;
    transition: 100ms linear;
}

#button:hover{
    color: white;
    font-size:18px;
    background-color: rgb(216, 0, 245);
}

