h2{
    display: flex;
    color: #FFF;
    font-size: 15px;
    font-family: 'Press Start 2P',sans-serif;
    align-items: center;
    font-weight: 100;
    text-shadow: 2px 2px 2px black;
}

h2:before{
    content: "<";
    color: #00F;
    width: 9px;
    height: 9px;
    margin-right: 9px;

}

h2:after{
    content: "/>";
    color: #00F;
    width: 9px;
    height: 9px;
    margin-right: 9px;

}